.container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  justify-content: center;
  width: 100%;
  align-items: center;
  max-width: 350px;
}

.container > span {
  display: flex;
  align-self: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.hidden {
  filter: blur(0.5rem);
}

.fighterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: center; */
  margin: 0.5rem 0;
}

.fightInfoWrapper {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  gap: 1rem 0;
}

.fightsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blink {
  animation: blink 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

@keyframes blink {
  0% {
    background-color: initial;
  }

  50% {
    background-color: red;
    opacity: 20%;
  }
  100% {
    background-color: initial;
  }
}

@keyframes blinkoff {
  0% {
    background-color: initial;
  }

  50% {
    background-color: red;
    opacity: 20%;
  }
  100% {
    background-color: initial;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
      0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6,
      0 0 80px #ff4da6;
  }
}

@media (prefers-reduced-motion) {
  .blink {
    animation: blinkoff 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
}
