.container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  justify-content: center;
  width: 100%;
  align-items: center;
  max-width: 350px;
}

.container > span {
  display: flex;
  align-self: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.hidden {
  filter: blur(0.5rem);
}

.fighterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: center; */
  margin: 0.5rem 0;
}

.fightInfoWrapper {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  gap: 1rem 0;
}

.fightsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
      0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6,
      0 0 80px #ff4da6;
  }
}
/* .flightInfoWrapper > div {
  display: flex;
  flex-direction: column;
} */
