.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: row;
}
.input {
  height: 35px;
  width: 240px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.button {
  width: 90px;
  height: 35px;
  margin: 0.5rem;
}

.button:hover {
  cursor: pointer;
}

.attempts {
  font-weight: 200;
  font-size: 0.8rem;
  margin: 0.5rem;
}
